/*================
common css
=================== 
 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

span{
    color: #787885;
}

/*=====================
nav bar css start here
======================= 
 */

.nav-bar{
    background-color: #03203C;
    width: auto;
    height: 75px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.nav-left h1{
    color: white;
    margin-top: 20px;
    letter-spacing: 2px;
}

.nav-right ul{
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.nav-right ul li a{
    color: white;
    padding: 15px;
}

.hambarger-button {
    display: none;
    background: transparent;
    font-size: 20px;
    padding: 0;
    outline: 0;
    width: 24px;
    height: 24px;
    border: 0;
    margin-top: 25px;
}

/*========================
influencer css start here
========================== 
 */
.influencer{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.influencer-left h1{
    font-size: 50px;
}

.influencer-left p{
    color: #000;
}

/*============================
preebook button css start here
============================== 
 */
.preebook-button{
    margin: 15px 0;
    display: inline-block;
    font-size: 18px;
    color: white;
    background-color: #E03B8B;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
}

.button i{
    margin-left: 10px;
}

/*========================
main-camera css start here
========================== 
 */

.main-camera-img{
    width: 100%;
}

/*============================
e-commerce site css start here
============================== 
 */
.e-commerce-site{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    
}

.e-commerce-site li{
    padding: 5px;
}

/*================================
popular collection css start here
================================== 
 */
.popular-collection-title{
    text-align: center;
    font-size: 30px;
}

.popular-collection-iteams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px auto 20px auto;
    max-width: 1047px;
}
.popular-collection-iteams img{
    display: block;
    width: 100%;
    height: auto;
}
.popular-items{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.popular-items p{
    color: #787885;
}

.popular-items img{
    margin-bottom: 20px;
}

.popular-items h3{
    margin-bottom: 15px;
}

.ratings i{
    color: goldenrod;
    margin: 15px 0;
}

/*============================
see more button css start here
============================== 
 */
.see-more{
    display: flex;
    justify-content: flex-end;
    max-width: 1047px;
    margin: 0 auto; 
    margin-bottom: 50px;
}
.see-more-button{
    background-color: #E03B8B;
    color: #fff;
    font-size: 20px;
    padding: 10px; 
    border-radius: 10px;
}

/*==============================
influencer career css start here
================================ 
 */

.career-heading{
    text-align: center;
    font-size: 30px;
}
.influencer-career{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.influencer-career p{
    color: #000;
    margin-left: 30px;
    margin-top: 50px;
    
}

/*========================
footer css start here
========================== 
 */
.footer{
    height: 185px;
    width: auto;
    /* background-color: #0A0826; */
    background-color: #0A0;
   
}
.footer-title{
   text-align: center;
  
}

.footer-info{
    padding-top: 30px;
}

.footer-info h3{
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-info h3, p{
    color: white;
}

.social-media-icon{
    text-align: center;
    padding: 15px;
}

.social-media-icon i{
    color: white;
    padding-right: 10px;
}


/* =====================
Resposive for Mobile
======================== */

@media only screen and (max-width:688px) {
    .hambarger-button {
        display: inline-block;
    }
    .nav-bar{
        background: #fff;
        margin-bottom: 10px;
    }
    .nav-left h1 {
        margin-top: 18px;
    }
    .nav-right ul {
        margin-top: 25px;
    }
    .nav-bar ul li:not(.cart-item) {
        display: none;
    }
    .nav-right ul li a ,
    .nav-left h1 {
        color: #3a3a3a;
    }

    .nav-right ul li a {
        font-size: 20px;
    }

    .influencer{
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .influencer-left{
        order: 2;
    }

    .influencer-left h1{
        font-size: 25px;
    }

    .e-commerce-site{
       flex-direction: row;
    }

    .popular-collection-iteams{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        max-width: 550px;
        
    }
    
    .influencer-career{
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        
    }
    .influencer-career p{
        margin-top: 15px;
        
    }

}

/* =====================
Resposive for Tablet
======================== */

@media only screen and (max-width: 992px) {
    main{
        padding: 0 20px;
    }
    .e-commerce-site{
        justify-content: center;
    }
    .e-commerce-site li{
        padding: 10px 20px;
    }

    .influencer-career p{
        margin-top: 50px;
        
    }
}

@media only screen and (min-width:688px) and (max-width: 992px) {
    
    .nav-left h1{
        font-size: 18px;
        color: white;
        margin-top: 22px;
        letter-spacing: 2px;
    }

    .nav-right ul{
        margin-top: 22px;
    
    }
    
    .nav-right ul li a{
        padding: 10px;
    }
    
    .influencer-left h1{
        font-size: 30px;
    }

    .main-camera-img img{
        width: 80%;
        height: auto;
    }

    .popular-collection-iteams{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        max-width: 750px;
        
    }
    .see-more{
        max-width: 750px;
    }

    .influencer-career{
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
   
}