*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar{
    background-color: #562EFF;
    width: 1300px;
    height: 75px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.nav-left h1{
    color: white;
    margin-top: 25px;
}

.nav-right ul{
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.nav-right ul li a{
    color: white;
    padding: 15px;
}

.influencer{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.influencer-left h1{
    font-size: 50px;
}
.h1-title{
    font-size: 50px;
}
.preebook-button{
    margin: 15px 0;
    display: inline-block;
    background-color: violet;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
}

.button i{
    margin-left: 10px;
}

.main-camera-img{
    width: 100%;
}

.company-name{
    display: flex;
    justify-content: space-around;
    margin: 100px;
    
}

.popular-collection-title{
    text-align: center;
    font-size: 30px;
}

.popular-collection-iteams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px auto;
    max-width: 1047px;
}
.popular-collection-iteams img{
    display: block;
    width: 100%;
    height: auto;
}
.flex-tripod{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.see-more{
    display: flex;
    justify-content: flex-end;
    
}
.see-more-button{
    color: magenta;
    font-size: 20px;
    
    
}